a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
}

a.nav-link {
    font-size: 13px;
    font-family: arial, sans-serif;
    margin-left: 15px;
    color: black;
}


.left-nav-text {
    opacity: 0.75;
}

#left-nav {
    display: flex;
    align-items: center;
}

#right-nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.right-nav-text {
    opacity: 0.87;
}

.right-nav-text:hover {
    opacity: 0.75;
}

#apps {
    width: 16px;
    height: 16px;
    opacity: 0.55;
    margin: 9px 7px 6px 7px;
}

#apps:hover {
    opacity: 1;
}


#sign-in {
    width: 69.34px;
    height: 30px;
    padding: 0px 10px;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    line-height: 28px;
    font-size: 13px;
}

#sign-in:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

#logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: auto;
}

#logo {
    padding-top: 137px;
}

#search-box {
    display: flex;
    width: 560px;
    height: 34px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    border: solid;
    border-width: 1px;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
    padding: 5px 8px 5px 14px;
    align-items: center;
    justify-content: space-between;
}

#search-box:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search-icon {
    width: 17.75px;
    height: auto;
    opacity: 0.4;
    padding-right: 13px;
}

#search-input {
    flex-grow: 1;
    height: 34px;
    line-height: 34px;
    padding: none;
    border: none;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#mic {
    height: 20px;
    width: auto;
    margin: 2px 13px 0px 8px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.search-button {
    height: 36px;
    padding: 0px 16px;
    margin: 11px 6px;
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    border-radius: 4px;
    font-weight: 400;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: rgb(60, 64, 67);
    cursor: pointer;
    line-height: 27px;
    text-justify: center;
    min-width: 54px;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

#google-search {
    width: 127.406px;
}

#feeling-lucky {
    width: 142.5px;
}

#language {
    margin-top: 13px;
}

p.centered {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    color: rgb(32, 33, 36);
}

a.ling-link {
    margin-left: 3px;
    color: rgb(26,13,171);
}

footer {
    height: 81px;
    width: 100%;
    background-color: rgb(242,242,242);
    position: absolute;
    bottom: 0px;
    border-top: 1px solid rgb(218,220,224);
}

#footer-top {
    height: 40px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(218,220,224);
    color: rgba(0,0,0,0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    line-height: 40px;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

a.footer {
    color: rgb(112,117,122);
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    padding-left: 27px;
    margin-left: -4px;
}
