a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
}

.nav-link {
    font-size: 13px;
    font-family: arial, sans-serif;
    margin-left: 15px;
}

.left-nav-text {
    opacity: 0.75;
}

.left-nav-text:hover {
    text-decoration: underline;
}

#left-nav {
    display: flex;
    align-items: center;
}

#right-nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.right-nav-text {
    opacity: 0.87;
}

.right-nav-text:hover {
    opacity: 0.75;
    text-decoration: underline;
}

#apps {
    width: 16px;
    height: 16px;
    opacity: 0.55;
    margin: 9px 7px 6px 7px;
}

#apps:hover {
    opacity: 1;
}


#sign-in {
    width: 69.34px;
    height: 30px;
    padding: 0px 10px;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    line-height: 28px;
    font-size: 13px;
}

#sign-in:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

#logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: auto;
}

#logo {
    padding-top: 135px;
}

#search-box {
    display: flex;
    width: 582px;
    height: 44px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
}

#search-box:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}