nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

#apps {
    width: 17px;
    height: 17px;
    opacity: 0.6;
}

#apps:hover {
    opacity: 1;
}

#mainlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 292px;
    height: auto;
}

#logo {
    padding-top: 109px;
}

#search-box {
    display: flex;
    width: 582px;
    height: 44px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
}

#search-box:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}